.DS_Store
Thumbs.db

.vs/
.idea/
*.user
*.suo
*.userprefs
*.vscode/
*.sln.iml

bin/
obj/
[Bb]uild/
[Tt]emp/
[Oo]utput/

*.nupkg
[Nn]u[Gg]et/
packages/
artifacts/

appsettings.Development.json
appsettings.Local.json
secrets.json
*.secrets.json

*.coverage
*.coveragexml

.dockerignore
docker-compose.*.yml

*.log
*.dump
*.stackdump

local.settings.json

node_modules/
dist/