body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Lobster';
  src: url('./pages/Introductory/fonts/Lobster-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Для оптимизации загрузки
}
@font-face {
  font-family: 'Seymour One';
  src: url('./pages/Introductory/fonts/SeymourOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Для оптимизации загрузки
}
@font-face {
  font-family: 'Arial';
  src: url('./pages/Introductory/fonts/arialbd.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Для оптимизации загрузки
}