body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: transparent !important;
}

/* Переопределение стилей MUI Tooltip */
.MuiTooltip-tooltip {
  background-color: rgba(255, 250, 245, 0.95) !important;
  color: #5c3a21 !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2) !important;
  border-radius: 20px !important;
  padding: 5px !important;
  padding-bottom: 0px !important;
  font-size: 14px !important;
  max-width: none !important;
}

.MuiTooltip-arrow {
  color: rgba(255, 250, 245, 0.95) !important;
}

.MuiTooltip-arrow:before {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1) !important;
}

@font-face {
  font-family: 'Lobster';
  src: url('./fonts/Lobster-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Для оптимизации загрузки
}
@font-face {
  font-family: 'Seymour One';
  src: url('./fonts/SeymourOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Для оптимизации загрузки
}
@font-face {
  font-family: 'Arial';
  src: url('./fonts/arialbd.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Для оптимизации загрузки
}
@font-face {
  font-family: 'Widock';
  src: url('./fonts/Widock\ TRIAL\ Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Для оптимизации загрузки
}
@font-face {
  font-family: 'unbounded';
  src: url('./fonts/Unbounded-VariableFont_wght.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Для оптимизации загрузки
}